<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="finalarm_description" xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor">
<xacro:arg name="material_color" default = "1 1 1 1"/>

  <!-- the namespace of controller manager should be the same as the spawner -->
  <gazebo>
    <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
      <robotNamespace>/finalarm</robotNamespace>
      <robotSimType>gazebo_ros_control/DefaultRobotHWSim</robotSimType>
    </plugin>
  </gazebo>

  <include filename="$(find ivaHandyPARTTracking)/urdf/PART_finalarm_description.urdf.xacro"/>

  <gazebo reference="base_link">
    <turnGravityOff>False</turnGravityOff>
    <selfCollide>False</selfCollide>
  </gazebo>
  <gazebo reference="link_2">
    <turnGravityOff>False</turnGravityOff>
    <selfCollide>False</selfCollide>
  </gazebo>
  <gazebo reference="link_3">
    <turnGravityOff>False</turnGravityOff>
    <selfCollide>False</selfCollide>
  </gazebo>
  <gazebo reference="link_4">
    <turnGravityOff>False</turnGravityOff>
    <selfCollide>False</selfCollide>
  </gazebo>
  <gazebo reference="link_5">
    <turnGravityOff>False</turnGravityOff>
    <selfCollide>False</selfCollide>
  </gazebo>
  <gazebo reference="link_6">
    <turnGravityOff>False</turnGravityOff>
    <selfCollide>False</selfCollide>
  </gazebo>
  <gazebo reference="link_7">
    <turnGravityOff>False</turnGravityOff>
    <selfCollide>False</selfCollide>
  </gazebo>
  <gazebo reference="link_8">
    <turnGravityOff>False</turnGravityOff>
    <selfCollide>False</selfCollide>
  </gazebo>
  <gazebo reference="link_9">
    <turnGravityOff>False</turnGravityOff>
    <selfCollide>False</selfCollide>
  </gazebo>
  <gazebo reference="link_10">
    <turnGravityOff>False</turnGravityOff>
    <selfCollide>False</selfCollide>
  </gazebo>

  <gazebo reference="joint_1">
    <implicitSpringDamper>True</implicitSpringDamper>
  </gazebo>
  <gazebo reference="joint_2">
    <implicitSpringDamper>True</implicitSpringDamper>
  </gazebo>
  <gazebo reference="joint_3">
    <implicitSpringDamper>True</implicitSpringDamper>
  </gazebo>
  <gazebo reference="joint_4">
    <implicitSpringDamper>True</implicitSpringDamper>
  </gazebo>
  <gazebo reference="joint_5">
    <implicitSpringDamper>True</implicitSpringDamper>
  </gazebo>
  <gazebo reference="joint_6">
    <implicitSpringDamper>True</implicitSpringDamper>
  </gazebo>
  <gazebo reference="joint_7">
    <implicitSpringDamper>True</implicitSpringDamper>
  </gazebo>
  <gazebo reference="joint_8">
    <implicitSpringDamper>True</implicitSpringDamper>
  </gazebo>
  <gazebo reference="joint_9">
    <implicitSpringDamper>True</implicitSpringDamper>
  </gazebo>


  <!-- transmission that link actuators to joints-->
  <transmission name="tran1">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="joint_1">
      <hardwareInterface>EffortJointInterface</hardwareInterface>
    </joint>
    <actuator name="motor_1">
      <hardwareInterface>EffortJointInterface</hardwareInterface>
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>

  <transmission name="tran2">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="joint_2">
      <hardwareInterface>EffortJointInterface</hardwareInterface>
    </joint>
    <actuator name="motor_2">
      <hardwareInterface>EffortJointInterface</hardwareInterface>
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>

  <transmission name="tran3">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="joint_3">
      <hardwareInterface>EffortJointInterface</hardwareInterface>
    </joint>
    <actuator name="motor_3">
      <hardwareInterface>EffortJointInterface</hardwareInterface>
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>

  <transmission name="tran4">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="joint_4">
      <hardwareInterface>EffortJointInterface</hardwareInterface>
    </joint>
    <actuator name="motor_4">
      <hardwareInterface>EffortJointInterface</hardwareInterface>
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>

  <transmission name="tran5">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="joint_5">
      <hardwareInterface>EffortJointInterface</hardwareInterface>
    </joint>
    <actuator name="motor_5">
      <hardwareInterface>EffortJointInterface</hardwareInterface>
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>

  <transmission name="tran6">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="joint_6">
      <hardwareInterface>EffortJointInterface</hardwareInterface>
    </joint>
    <actuator name="motor_6">
      <hardwareInterface>EffortJointInterface</hardwareInterface>
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>

  <transmission name="tran7">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="joint_7">
      <hardwareInterface>EffortJointInterface</hardwareInterface>
    </joint>
    <actuator name="motor_7">
      <hardwareInterface>EffortJointInterface</hardwareInterface>
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>

  <transmission name="tran8">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="joint_8">
      <hardwareInterface>EffortJointInterface</hardwareInterface>
    </joint>
    <actuator name="motor_8">
      <hardwareInterface>EffortJointInterface</hardwareInterface>
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>

  <transmission name="tran9">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="joint_9">
      <hardwareInterface>EffortJointInterface</hardwareInterface>
    </joint>
    <actuator name="motor_9">
      <hardwareInterface>EffortJointInterface</hardwareInterface>
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>

</robot>
